*{
  margin: 0px;
  padding: 0px;
}
body{
  width: 100vw;
  height: 100vh;
  background: url("bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: fixed;
}
.header i{
  font-size: 30px;
  margin-left: 87%;
  margin-top: 15px;
  color: #ffffff;
}
.circle img{
  mix-blend-mode: multiply;
  width: 60%;
  margin-left: 2px;
  margin-top: 60px;
}
.circle{
  background: rgba(255, 167, 47, 0.3);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 150px;
  border: 0.8px solid rgba(0, 0, 0, 0.3);
  display: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.circle i{
  font-size: 50px;
  margin-left: -10px;
  color: rgba(73, 57, 35, 0.9);
  position: relative;
  top: 10px;
}

#butterfly{
  mix-blend-mode: normal;
  margin-top: -70px;
  margin-left: 50px;
  z-index: -4;
}

.bird img{
  height: 100px;
  margin-top: -30px;
  z-index: -3;
}
a{
  border: 1px solid #000000;
  padding: 10px 35px;
  border-radius: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  margin-left: 130px;
  top: 140px;
  color: #000000;
  text-decoration: none;
  box-shadow: rgba(255, 255, 255, 0.40) 0px 3px 8px;
  position: fixed;
}